# Regression Week 2: Multiple Regression (Interpretation)

The goal of this first notebook is to explore multiple regression and feature engineering with existing graphlab functions.

In this notebook you will use data on house sales in King County to predict prices using multiple regression. You will:
* Use SFrames to do some feature engineering
* Use built-in graphlab functions to compute the regression weights (coefficients/parameters)
* Given the regression weights, predictors and outcome write a function to compute the Residual Sum of Squares
* Look at coefficients and interpret their meanings
* Evaluate multiple models via RSS

## Constants

In [41]:
# import graphlab as glab

import version_information
import pandas as pd
import os
import numpy as np
import math
import sklearn
from sklearn import linear_model as lm

In [40]:
%load_ext version_information
%version_information pandas, numpy, math, os, sklearn

The version_information extension is already loaded. To reload it, use:
  %reload_ext version_information

Software versions
Python 2.7.12 64bit [MSC v.1500 64 bit (AMD64)]
IPython 5.1.0
OS Windows 10 10.0.14393
pandas 0.19.1
numpy 1.11.2
math The 'math' distribution was not found and is required by the application
os The 'os' distribution was not found and is required by the application
sklearn 0.18.1
Mon Dec 12 22:11:59 2016 Eastern Standard Time

## Get Data

Dataset is from house sales in King County, the region where the city of Seattle, WA is located.

In [29]:
os.getcwd()

'C:\\Users\\DrjNupurVihan\\Documents\\GitHub\\MachineLearning_UoW\\Course2_Regression'

In [30]:
# sales = graphlab.SFrame('kc_house_data.gl/')
sales = pd.read_csv("data\\kc_house_train_data.csv")
train_data = pd.read_csv("data\\kc_house_train_data.csv")
test_data = pd.read_csv("data\\kc_house_test_data.csv")

In [37]:
train_data.dtypes

id                   int64
date                object
price              float64
bedrooms             int64
bathrooms          float64
sqft_living          int64
sqft_lot             int64
floors             float64
waterfront           int64
view                 int64
condition            int64
grade                int64
sqft_above           int64
sqft_basement        int64
yr_built             int64
yr_renovated         int64
zipcode              int64
lat                float64
long               float64
sqft_living15        int64
sqft_lot15           int64
bed_bath_rooms     float64
log_sqft_living    float64
dtype: object

In [43]:
train_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,bed_bath_rooms,log_sqft_living
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,1955,0,98178,47.5112,-122.257,1340,5650,3.00,7.073270
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,400,1951,1991,98125,47.7210,-122.319,1690,7639,6.75,7.851661
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,0,1933,0,98028,47.7379,-122.233,2720,8062,2.00,6.646391
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,910,1965,0,98136,47.5208,-122.393,1360,5000,12.00,7.580700
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,0,1987,0,98074,47.6168,-122.045,1800,7503,6.00,7.426549

In [19]:
#Split data into training and testing.

#We use seed=0 so that everyone running this notebook gets the same results.
#In practice, you may set a random seed (or let GraphLab Create pick a random seed for you).  

# train_data,test_data = sales.random_split(.8,seed=0)

## Learning a multiple regression model

Recall we can use the following code to learn a multiple regression model predicting 'price' based on the following features:
example_features = ['sqft_living', 'bedrooms', 'bathrooms'] on training data.

In [53]:
example_features = train_data.ix[:,['sqft_living', 'bedrooms', 'bathrooms']]
example_features.head()

output = train_data.price

In [56]:
# example_model = glab.linear_regression.create(train_data, target = 'price', features = example_features, validation_set = None)
#(Aside: We set validation_set = None to ensure that the results are always the same)


example_model = lm.LinearRegression()
mreg_model = example_model.fit(example_features, output )

Now that we have fitted the model we can extract the regression weights (coefficients) as an SFrame as follows:

In [55]:
# example_weight_summary = example_model.get("coefficients")
mreg_model.coef_
# print example_weight_summary

array([   315.40669062, -65081.88711588,   6942.16598637])

# Making Predictions

In the gradient descent notebook we use numpy to do our regression. In this book we will use existing graphlab create functions to analyze multiple regressions. 

Recall that once a model is built we can use the .predict() function to find the predicted values for data we pass. For example using the example model above:

In [59]:
# example_predictions = example_model.predict(train_data)
mreg_model.predict(example_features)[0]
# print example_predictions[0] # should be 271789.505878

271789.26537996985

# Compute RSS

Now that we can make predictions given the model, let's write a function to compute the RSS of the model. Complete the function below to calculate RSS given the model, data, and the outcome.

In [ ]:
def get_residual_sum_of_squares(model, data, outcome):
    # First get the predictions

    # Then compute the residuals/errors

    # Then square and add them up

    return(RSS)

Test your function by computing the RSS on TEST data for the example model:

In [ ]:
rss_example_train = get_residual_sum_of_squares(example_model, test_data, test_data['price'])
print rss_example_train # should be 2.7376153833e+14

# Create some new features

Although we often think of multiple regression as including multiple different features (e.g. # of bedrooms, squarefeet, and # of bathrooms) but we can also consider transformations of existing features e.g. the log of the squarefeet or even "interaction" features such as the product of bedrooms and bathrooms.

You will use the logarithm function to create a new feature. so first you should import it from the math library.

Next create the following 4 new features as column in both TEST and TRAIN data:
* bedrooms_squared = $bedrooms^2$
* bed_bath_rooms = $bedrooms*bathrooms$
* log_sqft_living = $log$(sqft_living)
* lat_plus_long = lat + long 
As an example here's the first one:

In [20]:
train_data['bedrooms_squared'] = train_data['bedrooms'].apply(lambda x: x**2)
test_data['bedrooms_squared'] = test_data['bedrooms'].apply(lambda x: x**2)

In [32]:
# creating the remaining 3 features in both TEST and TRAIN data

train_data['bed_bath_rooms'] = train_data['bedrooms'] * train_data['bathrooms']
test_data['bed_bath_rooms'] = test_data['bedrooms'] * test_data['bathrooms']

train_data['log_sqft_living'] = train_data['sqft_living'].apply(math.log)
test_data['log_sqft_living'] = test_data['sqft_living'].apply(math.log)

train_data['lat_plus_long'] = train_data['lat'] + train_data['long']
test_data['lat_plus_long'] = test_data['lat'] + test_data['long']

* Squaring bedrooms will increase the separation between not many bedrooms (e.g. 1) and lots of bedrooms (e.g. 4) since $1^2 = 1$ but $4^2 = 16$. Consequently this feature will mostly affect houses with many bedrooms.
* bedrooms times bathrooms gives what's called an "interaction" feature. It is large when *both* of them are large.
* Taking the log of squarefeet has the effect of bringing large values closer together and spreading out small values.
* Adding latitude to longitude is totally non-sensical but we will do it anyway (you'll see why)

**Quiz Question: What is the mean (arithmetic average) value of your 4 new features on TEST data? (round to 2 digits)**

# Learning Multiple Models

Now we will learn the weights for three (nested) models for predicting house prices. The first model will have the fewest features the second model will add one more feature and the third will add a few more:
* Model 1: squarefeet, # bedrooms, # bathrooms, latitude & longitude
* Model 2: add bedrooms\*bathrooms
* Model 3: Add log squarefeet, bedrooms squared, and the (nonsensical) latitude + longitude

In [ ]:
model_1_features = ['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long']
model_2_features = model_1_features + ['bed_bath_rooms']
model_3_features = model_2_features + ['bedrooms_squared', 'log_sqft_living', 'lat_plus_long']

Now that you have the features, learn the weights for the three different models for predicting target = 'price' using graphlab.linear_regression.create() and look at the value of the weights/coefficients:

In [ ]:
# Learn the three models: (don't forget to set validation_set = None)

In [ ]:
# Examine/extract each model's coefficients:

**Quiz Question: What is the sign (positive or negative) for the coefficient/weight for 'bathrooms' in model 1?**

**Quiz Question: What is the sign (positive or negative) for the coefficient/weight for 'bathrooms' in model 2?**

Think about what this means.

# Comparing multiple models

Now that you've learned three models and extracted the model weights we want to evaluate which model is best.

First use your functions from earlier to compute the RSS on TRAINING Data for each of the three models.

In [ ]:
# Compute the RSS on TRAINING data for each of the three models and record the values:

**Quiz Question: Which model (1, 2 or 3) has lowest RSS on TRAINING Data?** Is this what you expected?

Now compute the RSS on on TEST data for each of the three models.

In [ ]:
# Compute the RSS on TESTING data for each of the three models and record the values:

**Quiz Question: Which model (1, 2 or 3) has lowest RSS on TESTING Data?** Is this what you expected? Think about the features that were added to each model from the previous.